div.carousel{
  background-color:#dbe9e5;

}
div.jumbotron{
  background-color:#aaddec;
  text-align: center;
}
img{
  border-radius: 8px;
  width: 100%;
  max-height: 950px;
}

.intro{
  color: rgb(24, 31, 31);
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Manuale', sans-serif;
  width: 100%;
}

.rows{
  width: 100%;
}

.carousel {
  margin-bottom: 50%;
}

.carousel-control-next-icon {
  background-image: none!important;
}

.carousel-control-prev-icon {
  background-image: none!important;

}

#landingLogo {
  color: rgb(255, 177, 9);
  font-family: 'Suez One', serif;
}