.savedEventCard {
  color: rgb(24, 31, 31);
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Suez One', serif;
}

#savedEventHeader * {
  color: beige;
  letter-spacing: 0.1em;
  font-family: 'Suez One', serif;
}

#savedEventHeader {
  background-color: rgba(36, 107, 201, 0.8);
}