.savedBreweryCard {
  color: rgb(24, 31, 31);
  background-color: rgba(36, 88, 201, 0.8);
  font-family: 'Suez One', serif;
}

#savedBreweryHeader * {
  color: beige;
  letter-spacing: 0.1em;
  font-family: 'Suez One', serif;
}

#savedBreweryHeader {
  background-color: rgba(36, 107, 201, 0.8);
}
