
body{
  background-image: url(/src/images/cuteTown.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #184d5f;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color:#eba577;
}